body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnav {
    background-color: #4B3869;
}

.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navitem {
    color: white;
}

#img_profile {
    max-width: 15em;
    height:auto;
    border-radius: 50%;
}