html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0 auto;
}

table {
  border: #4b3869 1px solid;
}

table > * {
  text-align: center;
}

.top-nav {
  margin-bottom: 2rem;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4b3869;
}

.nav-item {
  float: left;
}

.nav-item a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.nav-item a:hover {
  background-color: #8a79a4;
}

.content {
  padding: 0 1em;
}

#home {
  text-align: center;
}

#img-profile {
  display: block;
  max-width: 15em;
  height: auto;
  border-radius: 50%;
  margin: 2rem auto;
}
